.mo-sidebar__container .mo-sidebar__header {
	height: 0px !important;
}

.tabs-header {
	margin: 8px 0;
	width: 100%;
	height: 38px;
}

.tabs-item {
	color: var(--panelTitle-inactiveForeground);
	font-size: 14px;
	font-weight: 400;
	padding: 8px 12px;
	margin: 0 4px;
	text-transform: uppercase;
	user-select: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	white-space: nowrap;
	cursor: pointer;
}

.tabs-item-active {
	color: var(--panelTitle-activeForeground);
	outline: var(--contrastActiveBorder, unset) solid 1px;
}

.tabs-item-active::after {
	background-color: #f9f9fa;
	bottom: 1px;
	content: ' ';
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.tabs-content {
	padding: 0 8px;
}
