/.vscode/
/release/
/scripts/
/src/
/test/
/gulpfile.js
/tsconfig.json
/.npmignore
/.prettierrc
/.prettierignore
/.travis.yml
/.editorconfig
/azure-pipelines.yml
/public/
/docs/
/web/
.history
node_modules
